[submodule "repos/generative-kunst-team-1"]
	path = repos/generative-kunst-team-1
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-1
[submodule "repos/generative-kunst-team-2"]
	path = repos/generative-kunst-team-2
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-2
[submodule "repos/generative-kunst-team-3"]
	path = repos/generative-kunst-team-3
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-3
[submodule "repos/generative-kunst-team-4"]
	path = repos/generative-kunst-team-4
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-4
[submodule "repos/generative-kunst-team-7"]
	path = repos/generative-kunst-team-7
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-7
[submodule "repos/generative-kunst-team-9"]
	path = repos/generative-kunst-team-9
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-9
[submodule "repos/generative-kunst-team-10"]
	path = repos/generative-kunst-team-10
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-10
[submodule "repos/generative-kunst-team-11"]
	path = repos/generative-kunst-team-11
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-11
[submodule "repos/generative-kunst-team-12"]
	path = repos/generative-kunst-team-12
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-12
[submodule "repos/generative-kunst-team-13"]
	path = repos/generative-kunst-team-13
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-13
[submodule "repos/generative-kunst-team-14"]
	path = repos/generative-kunst-team-14
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-14
[submodule "repos/generative-kunst-team-15"]
	path = repos/generative-kunst-team-15
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-15
[submodule "repos/generative-kunst-team-16"]
	path = repos/generative-kunst-team-16
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-16
[submodule "repos/generative-kunst-team-17"]
	path = repos/generative-kunst-team-17
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-17
[submodule "repos/generative-kunst-team-18"]
	path = repos/generative-kunst-team-18
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-18
[submodule "repos/generative-kunst-team-19"]
	path = repos/generative-kunst-team-19
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-19
[submodule "repos/generative-kunst-team-20"]
	path = repos/generative-kunst-team-20
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-20
[submodule "repos/generative-kunst-team-22"]
	path = repos/generative-kunst-team-22
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-22
[submodule "repos/generative-kunst-team-24"]
	path = repos/generative-kunst-team-24
	url = https://github.com/CT-WS2021-Art/generative-kunst-team-24
[submodule "repos/Team-17-richtig-krass"]
	path = repos/Team-17-richtig-krass
	url = https://github.com/CT-WS2021-Art/Team-17-richtig-krass
