body {
  /* margin: 0;
  padding: 0; */
  background-color: black;
  display: flex;
  flex-direction: column;
}

/* canvas {
  width: 50px;
  height: 100px;

}  */

/* .container {
  position: relative;
  overflow: hidden;
  width: 100%;
} */


header {
  /* text-align: center top; */
  /* margin: 1em; */
  margin-top: 2em;
}

header ul {
  list-style-type: none;
  display: inline;
}

header ul .hm-logo {
  /* margin-right: 50%;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 0%; */
  display: inline;

}

header ul .mucdai-logo {
  /* margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%; */
  display: inline;
}

.title {
  text-align: center;
  font-size: 3em;
  color: rgb(255, 255, 255);
  margin-top: 2em;
  margin-bottom: 0em;
  font-family: 'Poppins';
  /* margin-left: 50%;
  margin-right: 50%; */
}

.container {
  margin: auto;
  text-align: center;
  margin-top: 5em;
  /* margin-left:10%;
  margin-right:10%; */
  width: 90%;
  /* border: 5px solid #575757; */
}

.sketches {
  zoom: 0.5;
  align-items: center;
}

.background {
  position: fixed;
}
