html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
}

/* canvas {
  width: 50px;
  height: 100px;

}  */

/* .container {
  position: relative;
  overflow: hidden;
  width: 100%;
} */

header {
  text-align: center;
  font-size: 3em;
  color: rgb(148, 73, 129);
  margin: 1em;
}

.container {
  margin: auto;
  margin-top: 5em;
}




